doctype html
html
    head
        meta(charset="UTF-8")
        title=title
        link(rel='stylesheet', href='../public/css/cssatome.css')
    body
        div#atome.atome
            -for (var i = 0; i<= 10; i++)
                div.circle
                    span.dot
                    span.dot


