.w-pln-box{width:100%;}




/*------个人信息------*/
.w-pln-con{width:100%; height:60px; margin-top:10px; background:#F8F8F8; display:block; -webkit-tap-highlight-color:transparent; }
.w-in-bg{background:#FFFFFF;}
.w-pln-con:active{background:#F2F2F2;}
.w-pln-con i{display:block; margin:6px auto auto 20px; width:50px; height:50px; float:left;}
.w-pln-text{width:30%; height:40px; margin:6px auto auto 20px; float:left;}
.w-pln-text h2{font-size:1.2em; color:#333333; display:block; width:100%; height:28px; line-height:28px; font-weight:bold;}
.w-pln-text p{color:#999999; display:block; width:100%;}
.w-enterIcon{float:right; width:10px; height:17px; margin:21px 20px auto auto;}

/*------内容跳转------*/
.w-enter{padding:0px 20px 0px 20px;}
.w-enter-b ul li a{display:block; margin:auto; font-size:0px; margin-top:10px;}

.w-enter-s ul{overflow:hidden; width:104%; display:block;}
.w-enter-s ul li{width:47.06%; float:left; display:block; margin-right:2%; overflow:hidden; font-size:0px; margin-top:10px;}


.w-home-bg{width:100%; margin-bottom:3em;}








































