html{background:#FBFBFB;}

.w-chint-box{width:20%; margin:10em auto 0px auto;}
.w-chint-text{ width:100%; text-align:center; margin-top:10px; font-size:1.2em;}
.w-textcolor-w{color:#999999;}
.w-textcolor-r{color:#18B4ED}































